
@{
    ViewBag.Title = "Users";
}

<div class="row">

    <div class="col-md-2">  </div>
    <div class="col-md-8">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Manage Users</h5>
                <div class="heading-elements">
                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#Modal">Add New</a>
                </div>
            </div>
            <div class="panel-body">
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Martin </td>
                            <td>mac01@mail.aub.edu</td>
                            <td>Admin</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li><a href="#"><i class="icon-trash"></i></a></li>
                                    <li><a href="#"><i class=" icon-versions"></i></a></li>
                                </ul>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-2">  </div>

</div>




<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form>
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" placeholder="Enter User Name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control">
                            <option>Admin</option>
                            <option>Teacher</option> 
                        </select>
                    </div>
                     
                </form> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


 