
@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    ViewBag.Title = "Import Students";
    ViewBag.CourseName = "CMPS 253 Spring 2017/2018";
}

 
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <h5>Import Students via moodle</h5>
            <textarea class="form-control" rows="15" id="comment"></textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="content-group">
            <h5>Import Students via Excel Sheet</h5>
            <form action="#" class="dropzone" id="dropzone_multiple"></form>
        </div>
    </div>
</div>
<div class="row">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>



