
@{
    ViewBag.Title = "Grid";
}

<h2>Grid</h2>

<!-- Hover rows -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Table</h5>
        <div class="heading-elements">
             <a class="btn btn-primary" href="#">Add New</a>
        </div>
    </div>
    <div class="panel-body">
     </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Eugene</td>
                    <td>Kopyov</td>
                    <td>
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-pencil7"></i></a></li>
                            <li><a href="#"><i class="icon-trash"></i></a></li>
                            <li><a href="#"><i class="icon-cog7"></i></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Victoria</td>
                    <td>Baker</td>
                    <td>
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-pencil7"></i></a></li>
                            <li><a href="#"><i class="icon-trash"></i></a></li>
                            <li><a href="#"><i class="icon-cog7"></i></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>James</td>
                    <td>Alexander</td>
                    <td>
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-pencil7"></i></a></li>
                            <li><a href="#"><i class="icon-trash"></i></a></li>
                            <li><a href="#"><i class="icon-cog7"></i></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Franklin</td>
                    <td>Morrison</td>
                    <td>
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-pencil7"></i></a></li>
                            <li><a href="#"><i class="icon-trash"></i></a></li>
                            <li><a href="#"><i class="icon-cog7"></i></a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /hover rows -->