@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    ViewBag.Title = "Grades";
    ViewBag.CourseName = "CMPS 253 Spring 2017/2018";
}


<div class="row">
    <!-- Hover rows -->
    <div class="col-md-8">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Importing Grades Log</h5>
                <div class="heading-elements"> 
                </div>
            </div>
            <div class="panel-body">
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File Name</th>
                            <th>Date</th>
                            <th>Records Added</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Asst1-Grades</td>
                            <td>10/2/2018</td>
                            <td>17</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-cloud-download"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Asst2_Grades</td>
                            <td>25/2/2018</td>
                            <td>20</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-cloud-download"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Asst3_Grades</td>
                            <td>30/2/2018</td>
                            <td>20</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-cloud-download"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Asst3_Grades</td>
                            <td>10/3/2018</td>
                            <td>20</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-cloud-download"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Midterm-Grades</td>
                            <td>30/3/2018</td>
                            <td>20</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-cloud-download"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Asst4_Grades</td>
                            <td>20/4/2018</td>
                            <td>15</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-cloud-download"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Dropzone -->
        <div class="content-group">
            <form action="#" class="dropzone" id="dropzone_multiple"></form>
        </div>
        <a href="https://www.Grades.com/html/">See Students Grades</a>
    </div>
    <!-- /hover rows -->
    </div>